<li>
    {{name}}

    <button class="change-entered" data-id="{{id}}" data-newentered="{{entered}}">
        {{#if entered}} Please Enter Link {{else}} Click here if it's a dead link {{/if}}
    </button>

    {{url}}
</li>