<li>
    {{name}}

    <button class="change-entered" data-id="{{id}}" data-newentered="{{entered}}">
        {{#if entered}} Please Enter Link {{else}} uhh dead link..{{/if}}
    </button>

    {{url}}
</li>