<li>
    {{name}}

    <button class="change-entered" data-id="{{id}}" data-newentered="{{entered}}">
        {{#if entered}}LinkedIn Entered{{else}}Please enter link{{/if}}
    </button>

    <button class="delete-student" data-id="{{this.id}}">DELETE!</button>
</li>